/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;

}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  position: relative;
  
  border:2px solid rgba(79, 73, 79, 0);
  width: 200px;
}


/*
 * Base structure
 */




body,html {

  text-align: center;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 695PX;



  /*height: 100%;*/
  /*min-height: 100%;*/

}
.site-wrapper-inner {
  display: table-cell;
  margin: 0;
  padding: 0;
  background:url("../gif/fondo_12.gif");
  background-size: 100%;
  background-position: 50% 19%;
  background-repeat:no-repeat;

}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
 margin: 0;

}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

.color{

background: -moz-linear-gradient(top, #f85032 8%, #f85032 36%, #f16f5c 73%, #e73827 92%, #f6290c 97%, #f6290c 97%, #f6290c 99%, #e73827 100%, #f02f17 100%, #f6290c 100%, #f02f17 100%, #e73827 100%);
background: -webkit-linear-gradient(top, #f85032 8%,#f85032 36%,#f16f5c 73%,#e73827 92%,#f6290c 97%,#f6290c 97%,#f6290c 99%,#e73827 100%,#f02f17 100%,#f6290c 100%,#f02f17 100%,#e73827 100%);
background: linear-gradient(to bottom, #f85032 8%,#f85032 36%,#f16f5c 73%,#e73827 92%,#f6290c 97%,#f6290c 97%,#f6290c 99%,#e73827 100%,#f02f17 100%,#f6290c 100%,#f02f17 100%,#e73827 100%);
font-family: serif;

color:#fff;
position: relative;
left:   -100px;

  }
.color_2{
  background: #ffd65e; /* Old browsers */
  background: #b4e391; /* Old browsers */
  background: -moz-linear-gradient(top, #b4e391 0%, #61c419 69%, #61c419 69%, #61c419 79%, #b4e391 84%, #b4e391 85%, #b4e391 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 69%,#61c419 69%,#61c419 79%,#b4e391 84%,#b4e391 85%,#b4e391 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b4e391 0%,#61c419 69%,#61c419 69%,#61c419 79%,#b4e391 84%,#b4e391 85%,#b4e391 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color:#fff;
  position: relative;
  left: 100px;

}
}
.color:hover{
background:url(../gif/fondo_btn.gif);
color: rgb(235, 147, 109);
border: 1PX solid rgb(33, 33, 33);
}
.color_2:hover{
background: url(../gif/fondo_btn2.gif);
background-position: 130% 70%;
color: rgb(213, 237, 15);
border: 1PX solid rgb(33, 33, 33);
}
.posicion{

  position: absolute;
  padding: 0;
  margin: 0 ;
  right:   -200px;
}

.letra{
  font-family: "Mongolian Baiti";

  font-size: 100px;
  letter-spacing: 5px;
  color: transparent;
  background: linear-gradient(
  rgb(210, 1, 14),
  rgb(213, 185, 180)

    );
    -webkit-background-clip: text;

}
.tarjeta{

}
