body{
  background: url("../gif/fondo_gif.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  zoom: 112%;
}

.overlay__content {
  font-size: 140%;
  line-height: 1.5;
  max-width: 25rem;
  margin: 1rem 0 0 3vw;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 792px;
  max-width: 0px;
  background-attachment: fixed;

}
.fondo{
  margin: auto;
  margin-top: 6%;
  margin-left: 600px;
  padding: 0;
  width: 600px;
  height: 660px;
  background:url("../img/cuadro_blanco.png");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 110%;

  border: 2px solid rgba(240, 242, 240, 0.04);
}
.tarjeta{

  background-image: url("../img/cuadro_blanco.png") !important;
  background-size: cover;
  /*background-position: center;
  display: block;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
.row{
  padding-top: 90px !important;
}
#flor{
  background:  url("../img/ramas.png") !important;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  /* : */
  /* background-position: left;
  background-repeat: no-repeat;
  display: none; */
  /* border: 2px solid rgba(241, 242, 234, 0); */

}
.p_1{
margin-top: 5%;
text-align: center;
font-family: 'Libre Baskerville', serif;
font-weight: bold;
font-size: 125%;
}


.p_5{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  /*font-family: 'Libre Baskerville', serif;*/
  padding: 0;
}

.botones{
  width: 400px;
  height: 60px;
  margin-left: 10%;
  margin-top: -3%;
  border: 2px solid rgba(235, 238, 223, 0.02);

}
.boton{
  background: #2a392b;
  /* margin-top: 8%;
   margin-left: -5%;
  padding: 0; */
  color: white;


}
.boton_2{
background: #7f1716;
 /* margin-left: 64%;
 margin-top: -19%;
 padding: 0; */
 color: white;
}
.boton:hover{
  color: #000;
}
.boton_2:hover{
  color: #000;
}
