
body{
  background: url(../img/background_marfil.jpg)
}
.fondo_flor{
  margin: auto;
  margin-top: 1px;
  width: 600px;
  height: 673px;
  background: url(../img/cuadrito_r.png);
  background-size: 245%;
  background-repeat: no-repeat;
background-position: 50% 70%;

  border: 2px solid rgba(11, 11, 11, 0);
}
.formu{
  margin: auto;
  margin-top: 23%;
  width: 320px;
  height: 450px;
  background:rgb(245, 246, 246);

  border: 2px solid rgba(11, 11, 11, 0);

}
.from_to{
  margin-top: -2%;
  padding-left: 20px;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;

}

.title-navidad{
  font-family: 'Libre Baskerville', serif;
  color:#0000;
  font-size: 12px;
  padding-top: 10px;

  /*text-align: center;*/
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b2b2b2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b2b2b2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b2b2b2;
}
input, textarea{
  background-color: #f6f6f6 !important;
}
.textinput{
  font-size: xx-small;
}


#submit-id-send{
  background-color: #2a392b !important;
  color: #ffffff;
  font-size: xx-small !important;
}

.controls{
  margin:auto;
}

.form-horizontal{
  margin-top: 15%;
}
.input-md{
  width: 210px;
  height: 30px;
}
.feliz{
  width: 150px;
  height:40px;
  margin: auto;
  margin-top: -16%;
margin-left: 31%;
  border: 2px solid rgba(11, 11, 11, 0);
}
h5{
  padding-top: 10px;

  font-family: 'Libre Baskerville', serif;
  color: red;
}
#submit-id-send {
    width: 85px;
    background-color: #2a392b !important;
    color: #ffffff;
    font-size: xx-small !important;

}
#submit-id-send_2{
  width: 85px;
  background-color: #7f1716 !important;
  color: #ffffff;
  font-size: xx-small !important;
}
